body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
  }

  header {
    background-color:  #034429;
    color: white;
    padding: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .logo{
    display: flex;
    align-items: center;    
    font-size: oblique;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

  .logo img{
    width:85px;
    height:60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
    
  }  

  
  /* SECCIONES */
  section { display: none; }
  #inicio { display: block; }

  footer {
    background-color:#440503;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }

  .contenido {
    background: #FFFAF0;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: auto;

  
}
  
/* MENÚ */
  nav { 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 12px;
    height: auto;    
    border-radius: 30px;
    

  }

  nav a {
    
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s;
    
  }

  nav a:hover {
    background-color: #440503;
    color: white;
  }

  nav a.activo {
    background-color: #440503;
    color: white;
  }

  .content{
    background-color: transparent;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 12px;
    height: auto;    
    border-radius: 30px;
  }

  .content a{
    font-weight: bold;
    background-color: white;
    border:2px solid black;    
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .content a:hover{
    background-color: #440503;
    color: white;
  }

  content a.activo {
    background-color: #440503;
    color: white;
  }

  .Cartillas{
    display: flex;
    align-items: center;
    border: 2px;
    border-color: black;
  }

   .Cartillas img {
    width: 700px;
    height: 450px;
    margin-left: 80px;  
    
   }

   
.dropdown {
  position: relative; 
  display: inline-block;
}


.dropdown-content {
  display: none; 
  position: absolute; 
  background-color: #f9f9f9; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1; 
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
  cursor: pointer;
}


.dropdown-content a:hover {
  background-color: lightgrey;
}


.dropdown:hover .dropdown-content {
  display: block;
}
